.applyButton {
    width: 5em; /* Set the width of the button */
    height: 3em;
    margin-top: 10px; /* Add margin between input fields and button */
    border: none;
    border-radius: 1.75rem;
    font-size: 14px;
    background-color: #EB8C0F;
    color: white;
  }