.userBridge-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    /* background: rgba(0, 0, 0, 0.5);  */
    display: flex;
    justify-content: center;
    /* z-index: 5; */
  }
  
  .userBridge-content {
    margin-top: 75px;
    text-align: center;
  }
  
  .profileBtn {
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 100px;
   border: none;
   padding: 10px 24px;
   height: 40px;
   gap: 8px;
   background: var(--m-3-sys-light-primary, #d9d9d9);

   color: var(--m-3-sys-light-on-primary, #090909);
   text-align: center;
   font-family: Roboto;
   font-size: 14px;
   font-style: normal;
   font-weight: 600;
   line-height: 20px; /* 142.857% */
   letter-spacing: 1px;
  }